.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ipfsimg {
  height: 200px;
  width: 200px;
}

.setmid {
  display: inline-block;
  width: 80%;

}

.navbar-custom {
  background-color: #E5CB9F;
}

.component-spacing {
  margin-top: 1.2cm;
}